<div class="row">
    <div class="col">
        <div class="card bg-dark mt-5">
            <h2 class="card-header text-light font-weight-light mt-2 mb-2">
                <span class="text-center">Log {{ log?.id }} details</span>
            </h2>
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <h2 class="text-light font-weight-light mt-2 mb-2">Error in IP Address: {{ log?.ip }}</h2>
                        </div>
                        <div class="form-group">
                            <h4 class="text-light font-weight-light mt-2 mb-2">Title:
                                <span> {{ log?.title }}</span>
                            </h4>
                        </div>
                        <div class="form-group">
                            <h5 class="text-light font-weight-light mt-2 mb-2">Detail:
                                <span> {{ log?.detail }}</span>
                            </h5>
                        </div>
                        <div class="form-group">
                            <h4 class="text-light font-weight-light mt-2 mb-2">Created by:
                                <span> {{ log?.token }}</span>
                            </h4>
                        </div>
                        <div class="form-group">
                            <h4 class="text-light font-weight-light mt-2 mb-2">Evironment:
                                <span *ngIf="log?.environment == 'D'"> Development</span>
                                <span *ngIf="log?.environment == 'P'"> Production</span>
                                <span *ngIf="log?.environment == 'A'"> Acceptance</span>
                            </h4>
                        </div>
                        <div class="form-group">
                            <h4 class="text-light font-weight-light mt-2 mb-2">Event:
                                <span> {{ log?.event }}</span>
                            </h4>
                        </div>
                        <div class="form-group">
                            <h4 class="text-light font-weight-light mt-2 mb-2">Level:
                                <span *ngIf="log?.level == 'W'" style="color: red"> Warning</span>
                                <span *ngIf="log?.level == 'B'" style="color: orange"> Bug</span>
                            </h4>
                        </div>
                        <div class="mt-5">
                            <button class="btn btn-outline-warning btn-lg" style="margin-right: 0.5%;" [routerLink]="['/logs']">Voltar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>