<div class="row">
  <div class="col">
    <div class="card bg-dark mt-5">
      <h2 class="card-header text-light font-weight-light mt-2 mb-2">
        <span [hidden]="edit" class="text-center">Create Log</span>
        <span [hidden]="!edit" class="text-center">Edit Log</span>
      </h2>

      <div class="card-body">
        <form [formGroup]="editLogForm" (ngSubmit)="onSubmit()">

          <div class="row">
            <div class="col-md-6">

              <div class="form-group">
                <label for="detail">ID</label>
                <input type="text" formControlName="id" placeholder="id" name="id" class="form-control" id="id">
              </div>

              <div class="form-group">
                <label for="title">Title</label>
                <input type="text" formControlName="title" placeholder="Title" name="title" class="form-control" id="title">
              </div>

              <div class="form-group">
                <label for="detail">Detail</label>
                <input type="textarea" formControlName="detail" placeholder="Details of the log" name="detail" class="form-control" id="detail">
              </div>

              <div class="form-group">
                <label>Event</label>
                <br/>
                <div class="custom-control custom-radio custom-control-inline">
                  <input formControlName="event" type="radio" id="event0" name="event" class="custom-control-input" value="0">
                  <label class="custom-control-label" for="event0">0</label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                  <input formControlName="event" type="radio" id="event2" name="event" class="custom-control-input" value="1">
                  <label class="custom-control-label" for="event2">1</label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                  <input formControlName="event" type="radio" id="event3" name="event" class="custom-control-input " value="2">
                  <label class="custom-control-label" for="event3">2</label>
                </div>
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group">
                <label for="level">Level</label>
                <input type="text" formControlName="level" placeholder="Level" name="level" class="form-control" id="level">
              </div>

              <div class="form-group">
                <label for="environment">Environment</label>
                <input type="text" formControlName="environment" placeholder="Environment" name="environment" class="form-control" id="environment">
              </div>

              <div class="form-group">
                <label for="ip">IP</label>
                <input type="text" formControlName="ip" name="ip" placeholder="192.168.0.1" class="form-control" id="ip">
              </div>

              <div class="form-group">
                <div class="custom-control custom-checkbox custom-control-inline">
                  <input formControlName="event" type="checkbox" id="enabled" name="enabled" class="custom-control-input" value="0">
                  <label class="custom-control-label" for="enabled">Active?</label>
                </div>
              </div>

            </div>

          </div>
        </form>

        <div class="mt-5">
          <button class="btn btn-outline-success btn-lg" [hidden]="edit" (click)="onSubmit()">Create</button>
          <button class="btn btn-outline-success btn-lg" [hidden]="!edit" (click)="onSubmit()">Update</button>
        </div>

      </div>
    </div>
  </div>
</div>
