<div class="col-md-6 user-container">
    <h2 [hidden]="log._id" class="text-center">Create Log</h2>
    <h2 [hidden]="!log._id" class="text-center">Edit Log</h2>
    <form [formGroup]="editLogForm" (ngSubmit)="onSubmit()">

      <div class="hidden">
        <input type="text" formControlName="id" placeholder="id" name="id" class="form-control" id="id">
      </div>

      <div class="form-group">
        <label for="title">Title:</label>
        <input type="text" formControlName="title" placeholder="Title" name="title" class="form-control" id="title">
      </div>
  
      <div class="form-group">
        <label for="firstName">Detail:</label>
        <input type="textarea" formControlName="detail" placeholder="Details of the log" name="detail" class="form-control" id="detail">
      </div>
  
      <div class="form-group">
        <label for="event">Event:</label>
        <input formControlName="event" type="radio" name="event" value="0"/>
        <input formControlName="event" type="radio" name="event" value="1"/>
        <input formControlName="event" type="radio" name="event" value="2"/>
      </div>
  
      <div class="form-group">
        <label for="level">Level:</label>
        <input type="text" formControlName="level" placeholder="Level" name="level" class="form-control" id="level">
      </div>
  
      <div class="form-group">
        <label for="environment">Environment:</label>
        <input type="text" formControlName="environment" placeholder="Environment" name="environment" class="form-control" id="environment">
      </div>

      <div class="form-group">
        <label for="enabled">Active?</label>
        <input type="checkbox" formControlName="enabled" name="enabled" class="form-control" id="enabled">
      </div>

      <div class="form-group">
        <label for="ip">Ip:</label>
        <input type="text" formControlName="ip" name="ip" placeholder="192.168.0.1" class="form-control" id="ip">
      </div>
  
      <button class="btn btn-success">Update</button>
    </form>
  </div>