<div class="row">
  <div class="col">
    <div class="card bg-dark mt-5">
      <h2 class="card-header text-light font-weight-light mt-2 mb-2">
        <span [hidden]="edit" class="text-center">Criar Registro</span>
        <span [hidden]="!edit" class="text-center">Editar Registro</span>
      </h2>
      <div class="card-body">
        <form [formGroup]="editLogForm" (ngSubmit)="onSubmit()">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="detail">ID</label>
                <input type="text" formControlName="id" placeholder="ID" name="id" class="form-control" id="id">
              </div>
              <div class="form-group">
                <label for="detail">Detalhe</label>
                <textarea type="textarea" formControlName="detail" placeholder="Detalhes do registro" name="detail" class="form-control" id="detail"></textarea>
                <small class="text-danger" *ngIf="editLogForm.controls['detail'].hasError('required') && editLogForm.controls['detail'].touched">
                  O Detalhe é obrigatório.
                </small>
              </div>
              <div class="form-group">
                <label for="ip">IP</label>
                <input type="text" formControlName="ip" name="ip" placeholder="192.168.0.1" class="form-control" id="ip">
                <small class="text-danger" *ngIf="editLogForm.controls['ip'].hasError('required') && editLogForm.controls['ip'].touched">
                  O IP é obrigatório.
                </small>
              </div>
              <div class="form-group">
                <label for="event">Evento</label>
                <input type="number" formControlName="event" placeholder="1000" class="form-control" id="event">
                <small class="text-danger" *ngIf="editLogForm.controls['event'].hasError('required') && editLogForm.controls['event'].touched">
                  O Evento é obrigatório.
                </small>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="title">Título</label>
                <input type="text" formControlName="title" placeholder="Erro no servidor" name="title" class="form-control" id="title">
                <small class="text-danger" *ngIf="editLogForm.controls['title'].hasError('required') && editLogForm.controls['title'].touched">
                  O Título é obrigatório.
                </small>
              </div>
              <div class="form-group">
                <label class="form-control-label" for="level">Nível</label>
                <select class="form-control" formControlName="level" name="level">
                  <option [ngValue]="null" hidden>Selecione uma opção</option>
                  <option value="W">Atenção</option>
                  <option value="B">Bug</option>
                </select>
                <small class="text-danger" *ngIf="editLogForm.controls['level'].hasError('required') && editLogForm.controls['level'].touched">
                  O Nível é obrigatório.
                </small>
              </div>
              <div class="form-group">
                <label class="form-control-label" for="environment">Ambiente</label>
                <select class="form-control" formControlName="environment" name="environment">
                  <option [ngValue]="null" hidden>Selecione uma opção</option>
                  <option value="A">Aceitação</option>
                  <option value="D">Desenvolvimento</option>
                  <option value="P">Produção</option>
                </select>
                <small class="text-danger" *ngIf="editLogForm.controls['environment'].hasError('required') && editLogForm.controls['environment'].touched">
                  O Ambiente é obrigatório.
                </small>
              </div>
              <div class="form-group">
                <div class="custom-control custom-checkbox custom-control-inline">
                  <input formControlName="enabled" (change)="checkActiveLogValue($event.target)" type="checkbox" id="enabled" name="enabled" class="custom-control-input">
                  <label class="custom-control-label" for="enabled">Ativo?</label>
                </div>
              </div>
            </div>
          </div>
        </form>
        <div class="mt-5">
          <button class="btn btn-outline-warning btn-lg" style="margin-right: 0.5%;" [routerLink]="['/logs']">Voltar</button>
          <button class="btn btn-outline-success btn-lg" [hidden]="edit" [disabled]="editLogForm.invalid" (click)="onSubmit()">Criar</button>
          <button class="btn btn-outline-success btn-lg" [hidden]="!edit" [disabled]="editLogForm.invalid" (click)="onSubmit()">Editar</button>
        </div>
      </div>
    </div>
  </div>
</div>
