<div class="row justify-content-center" style="padding-top: 20%">
  <div class="col-5">
    <div class="card text-white bg-dark shadow p-4">
      <div class="card-body">
        <h2 class="card-title text-center font-weight-light">LOGIN</h2>
        <br/>

        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <div class="mb-4">
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <img src="../../assets/envelope-solid.png"/>
                </div>
              </div>
              <input type="text" class="form-control" formControlName="email" id="email" autocomplete="off" placeholder="Email">
            </div>
            <small class="text-danger" *ngIf="loginForm.controls['email'].hasError('required') && loginForm.controls['email'].touched">
              O Email é obrigatório.
            </small>
          </div>

          <div class="mb-4">
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <img src="../../assets/unlock-alt-solid.png"/>
                </div>
              </div>
              <input type="password" class="form-control" formControlName="password" id="pwd" autocomplete="off" placeholder="Senha">
            </div>
            <small class="text-danger" *ngIf="loginForm.controls['password'].hasError('required') && loginForm.controls['password'].touched">
              A senha é obrigatória.
            </small>
          </div>

          <div>
            <button class="btn btn-success btn-block" [disabled]="loginForm.invalid">Login</button>
            <small *ngIf="invalidLogin" class="text-danger">
              As credenciais oferecidas são inválidas.
            </small>
          </div>
        </form>

      </div>
    </div>
  </div>
</div>
